.hero {
    position: relative;
    height: 700px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("images/grey.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }

  .nav-paw {
    position: sticky;
    bottom: 15px;
    left: 205px;
    width: 25px;
    color: white;
  }

