<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/outcomes.css">

    <title>Agnes's Story</title>
</head>

<body>
    <!-- Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="../index.html">PAWSitive Outcomes
            <img class="nav-paw" src="../images/white-paw.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analysis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="intake.html">Intake Overview</a>
                        <a class="dropdown-item" href="outcomes.html">Outcomes Overview</a>
                        <a class="dropdown-item" href="canine.html">Canine Adoptions</a>
                        <a class="dropdown-item" href="feline.html">Feline Adoptions</a>
                    </div>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="model.html">Model</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="links.html">Links</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="agnes.html">Agnes's Story</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="p-3 mb-5 font-weight-bold bg-secondary text-white center">
        <h1 class="text-center">Agnes's Story</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <p class="text-center">
                    Agnes was found in the Lake of the Woods neighborhood of Locust Grove, Virginia in the summer of
                    2018. She had been the clear victim of abuse and neglect. She was severely anemic
                    due to a massive flea infestation. She was suffering from a hernia and had fur mats so large that
                    they had pulled off parts of her skin. It took almost three months for her
                    to recover from her injuries. Her picture was posted on Facebook in November of that same year. When
                    I saw her picture, I knew instantly that she was supposed to be my dog.
                    Thankfully, the vet that had been caring for her felt that my husband and I were a perfect fit to
                    give Agnes the "furever" home she needed and deserved. We brought her home
                    the day after Thanksgiving and we have been a happy family ever since. Agnes has recovered from the
                    effects of her neglect and is now thriving. She loves chicken (especially from Chick-fil-a),
                    squeaky toys, long walks, and laying in the sun. She is happiest when she is in someone's lap as she
                    is a Grade A lovebug. It is amazing how an animal that suffered so much at the
                    hands of humans could still be so loving and trusting. She has taught us about love, forgiveness,
                    and perseverance. We are blessed to have her in our lives and we will continue to
                    spoil her absolutely rotten!
                </p>
            </div>
    
        </div>
    
    </div>

    <div class = "container">
        <div class = "row">
            <div class = "col-sm">
                <img src="../images/agnes1.jpg" alt="agnes">
    
            </div>

            <div class = "col-sm">
                <img src="../images/agnes2.jpg" alt="agnes">
    
            </div>

            <div class = "col-sm">
                <img src="../images/agnes3.jpg" alt="agnes">
    
            </div>

            <div class = "col-sm">
                <img src="../images/agnes4.jpg" alt="agnes">
    
            </div>
        </div>
    </div>
<br>
    <div class="p-3 mb-2 bg-info text-dark"> 
        <br>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/outcomes.css"></script>


</body>

</html>