<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/pet.css">
    <title>PAWSitive Outcomes</title>

</head>

<body>
    <!-- Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="index.html">PAWSitive Outcomes
            <img class="nav-paw" src="../images/white-paw.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analysis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="intake.html">Intake Overview</a>
                        <a class="dropdown-item" href="outcomes.html">Outcomes Overview</a>
                        <a class="dropdown-item" href="canine.html">Canine Adoptions</a>
                        <a class="dropdown-item" href="feline.html">Feline Adoptions</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="model.html">Model</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="links.html">Links</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="agnes.html">Agnes's Story</a>
                  </li>
            </ul>
        </div>
    </nav>

    <div class = "hero text-center"> 
        <h1>PAWSitive Outcomes:</h1>
        <h3>Predicting Adoptions of Shelter Animals</h3>
<br>
<br>
        <h4>Rationale</h4>
    <p style = "margin-left: 315px; margin-right: 315px;">  According to Shelter Animals Count, in 2019 close to 4 million animals were taken by shelters across the United States. The mission of these shelters is to ensure the best possible
        outcomes for these animals, which is most commonly adoption by a caring new owner. However, for many animals, a happy outcome can be difficult to achieve. So, what makes for 
        the success of an animal to achieve a new "furever" home? To answer this question, a dataset of shelter intakes and outcomes from the Austin Animal Shelter was examined. This dataset was ideal because it 
        documented intakes by individual in detail rather than a summary of intakes that is commonly reported by U.S. shelters. The data was cleaned using Python and the Pandas package. Intake and outcome 
        statistics were then examined using tableau for felines and canines and patterns were noted. A machine learning model using Python, Pandas, Numpy, and Scikit-learn was then created from the cleaned data
        with the goal of predicting adoption of shelter canines and felines. It is my hope that this study will help inform shelters and other rescue operations on how to best direct their efforts in ensuring adoptions for 
        the animals they serve.
    </p>

    <br>
    <img class = "dogcat" src="../images/dog-cat.jpg" alt="Dog-cat">

 
    </div>
    <div class="p-3 mb-2 bg-info text-dark"> 
        <br>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="../static/pet.css"></script>

</body>

</html>